

<div id="products-table">
<table class="table">
	<thead>
		<tr>
			<th><abbr title="Position">Product</abbr></th>
			<th>Type</th>
			<th><abbr title="Price">Price</abbr></th>
			<th><abbr title="Stock">Stock</abbr></th>
			<th><abbr title="Description">Desctiption</abbr></th>
			<th><abbr title="Action">Action</abbr></th>
		</tr>
	</thead>

	<tbody>
		{{#each products}}
		<tr id="{{this.id}}">
			<td>{{this.name}}</td>
			<td>{{this.department}}</td>
			<td>{{ formatPrice this.price}}</td>
			<td>{{this.stock}}</td>
			<td>
				{{!-- Should pull from the database a description of the product --}}
				{{this.Description}}<p>Description</p>
			</td>
			<td><button id="deleteBtn">Delete</button><button id="editBtn">Edit</button></td>
		</tr>
		{{/each}}
		{{!-- ============ --}}

	</tbody>
</table>

</div>