<div id="order-container">

	{{!-- <h1 id="available-products">Products Available</h1> --}}


	<table id="order-table" class="table is-hoverable">
		<thead>
			<tr>
				<th><abbr title="Product">Product Available</abbr></th>
				<th>Type</th>
				<th><abbr title="Price">Price</abbr></th>
				<th><abbr title="Quantity">Quantity</abbr></th>
			</tr>
		</thead>

		<tbody>
			{{#each products}}
			<tr>
				<td>{{this.name}}</td>
				<td>{{this.department}}</td>
				<td>{{this.price}}</td>
				<td>{{this.stock}}</td>
				<td>{{this.description}}</td>
				
			</tr>
			{{/each}}
			{{!-- <button class="button" id="add-product">Add a Product</button> --}}
		</tbody>
	</table>
	<button class="button" id="orderBtn">Order</button>
	<button class="button" id="cancelOrderBtn">Cancel</button>

{{!-- id="editBtn" --}}
</div>