{{!-- <div class="container">
	<br/>
	<div class="row">
		
		<div class="col-sm-4">
			<img class = "productPoster" src="{{movieTitle.Poster}}"> 
		</div>
		<div class="col-sm-7 col-sm-offset-1 panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="panel-heading movieTitle">{{movieTitle.Title}}</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5 col-sm-offset-5">
						<h5>Released:&nbsp; {{movieTitle.Released}}</h5>
					</div>
					<div class="col-sm-2">
						<h4>{{movieTitle.Rated}}</h4>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<h5><span class = "productIdentifier">Plot:</span> &nbsp; 
						<span class = "productData">{{movieTitle.Plot}}</span></h5>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-12">
						<h5><span class = "productIdentifier">Starring:</span>&nbsp;
						<span class = "productData"> {{movieTitle.Actors}}</span></h5>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-6">
						<h5><span class = "productIdentifier">Directed by:</span>&nbsp;
						<span class = "productData"> {{movieTitle.Director}} </span></h5>
					</div>
					<div class="col-sm-6">
						<h5><span class = "productIdentifier">Runtime:</span>&nbsp;
						<span class = "productData"> {{movieTitle.Runtime}}</span></h5>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div> --}}
